---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="Aktivnosti"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('August 08 2021')}
>

<h1>Na ovoj stranici će biti prikazani svi događaji koji imaju veze sa planinom Smetovi</h1>
</Layout>
