---
const today = new Date();

const { title, description, image = '/bgfooteribg.png' } = Astro.props;
const { title2, description2, image2 = '/bgfootersmall.png' } = Astro.props;
import '@fortawesome/fontawesome-free/css/all.min.css';

---

<footer>
	<br>
	<div class="image bg-[image:var(--image2)] md:bg-[image:var(--image)] bg-cover h-[450px] md:h-[350px] w-full bg-[50%_5%] bg-no-repeat"></div>
	<div class="flex flex-col justify-center items-center bg-footer">
		<div class="maincontainer text-gray flex flex-col md:flex-row items-center justify-center w-full p-5">
			<div class="w-full mb-5 md:w-2/5 md:mb-0 flex flex-col justify-start">
				<h3 class="font-exo2 text-[#eee] mb-5">
					KONTAKT INFORMACIJE
				</h3>
				
				<h4 class="text-[#ccc] text-xl mb-2">
					Udruženje Programerska kovačnica ZeForge Zenica
				</h4>

				<a
					href="https://github.com/zeforgezenica/smetoviba"
					class="text-gray flex flex-row no-underline text-m"
				>
					<i class="fa-brands fa-github w-5 text-center mr-[5px] relative top-[5px]"></i>
					<p>smetoviba</p>
				</a>
				<a
					href="https://maps.app.goo.gl/Sdj4hDePPtsDJzUW8"
					class="text-gray flex flex-row no-underline text-m"
				>
					<i class="fa-solid fa-location-dot w-5 text-center mr-[5px] relative top-[5px]"></i>
					<p>Školska 10, 72000 Zenica, Bosna i Hercegovina</p>
				</a>
				<a
					href="tel:38732979844"
					class="text-gray flex flex-row no-underline text-m"
				>
					<i class="fa-solid fa-phone w-5 text-center mr-[5px] relative top-[5px]"></i>
					<p>032 979 844</p>
				</a>
				<a
					href="mailto:info@zeforge.ba"
					class="text-gray flex flex-row no-underline text-m"
				>
					<i class="fa-solid fa-envelope w-5 text-center mr-[5px] relative top-[5px]"></i>
					<p>info@zeforge.ba</p>
				</a>
			</div>
			<div class="w-full md:w-2/5 flex flex-col justify-start mb-auto">
				<h3 class="font-exo2 text-[#eee] mb-5">NEWSLETTER</h3>
				<!-- Add form action -->
				<form action="" class="newsletter-form flex flex-row">
					<input
						placeholder="e-mail"
						class="email-input px-2 flex-grow bg-gray-light text-[#eee] placeholder-[#eee] focus:outline-none"
					/>
					<button
						class="submit-newsletter bg-gray-light text-[#eee] cursor-pointer text-center px-2.5 py-0 hover:bg-gray-hover"
					>
						<i class="fa-solid fa-arrow-right relative top-0.5"></i>
					</button>
				</form>
			</div>
		</div>
		<div class="copyright text-center p-2 w-full text-[#eee]">
			&copy; Smetovi {today.getFullYear()} | Powered by ZeForge - Developers Community of Zenica
		</div>
	</div>
</footer>
<style define:vars={{ image: `url("${image}")` , image2:`url("${image2}")`  }}></style>
