---
const today = new Date();

const { title, description, image = '/bgfooteribg.png' } = Astro.props;
const { title2, description2, image2 = '/bgfootersmall.png' } = Astro.props;

---

<footer>
	<br>
	<div class="image"></div>
	<div class="maincontainer">
	<div class="container1">
		<h3>KONTAKT INFORMACIJE</h3>
		<p>Smetovi, Zenica, Bosna i Hercegovina</p>
		<p>061 604 148</p>
		<p>mail@gmail.com</p>
		</div>
	<div class="container2">
			<h3>NEWSLETTER</h3>
			<p>Enter your email:</p>
			<input placeholder="johndoe@gmail.com"/>
			</div>
		</div>
<center>	&copy; Smetovi {today.getFullYear()} </center></div>
</div>
</footer>
<style define:vars={{ image: `url("${image}")` , image2:`url("${image2}")`  }}>

	.image {

		background-image: var(--image);
		background-size:cover;
		height:350px;
	}
	h3{
		color:white;
	}
	input{

		padding:10px;
		border-radius:15px;
		border:0;
	}
	.maincontainer{
		background-color:#171440;
		padding:20px;
		color: rgb(var(--gray));
		display: flex;
		align-items: flex-start; 
		text-align:center;
	}
	.container1,.container2{
		width:50%;
	}
	@media (max-width: 768px){
  .maincontainer {
    flex-direction: column;
  }
  .container1,.container2{
		width:100%;
		padding-bottom:20px;
	}
	.image{
		background-image: var(--image2);
		width: 100%;
		height:450px;
  background-size: cover; 
  background-position: 50% 5%; 
  background-repeat: no-repeat; 
	}
  }
</style>
