---
import HeaderLink from './HeaderLink.astro';
import BurgerMenu from './BurgerMenu/BurgerMenu';
import Weather from './WeatherComponent/WeatherComponent.tsx';
import '@fortawesome/fontawesome-free/css/all.min.css';
---

<script is:inline>
  document.addEventListener('DOMContentLoaded', () => {
    const menuButton = document.getElementById('menu-button');
    const menuContainer = document.getElementById('menu-container');
    menuButton?.addEventListener('click', () => {
      menuContainer.classList.toggle('hidden');
      const isHidden = menuContainer.classList.contains('hidden');
      const icon = menuButton.querySelector('i');
      if (icon) {
        icon.className = isHidden
        ? 'fa-solid fa-bars'
        : 'fa-solid fa-xmark';
      }
    });
  });
</script>

<header class="fixed top-0 left-0 blur-background w-full shadow-md h-14 flex items-center">
  <nav class="flex items-center justify-around h-full w-full flex items-center p-0">
    <img id="navbar-logo" src="/smetovi-logo.png" alt="Smetovi Logo" class="p-2 w-35vw md:w-20vw lg:w-64">
    <div class="internal-links hidden md:block">
      <HeaderLink href="/map">Mapa</HeaderLink>
      <HeaderLink href="/">Home</HeaderLink>
      <HeaderLink href="/blog">Blog</HeaderLink>
      <HeaderLink href="/organizations">Aktivnosti</HeaderLink>
      <HeaderLink href="/events">Događaji</HeaderLink>
      <HeaderLink href="/contact">Kontakt</HeaderLink>
    </div>
    <div class="flex">
      <div class="weather flex flex-col justify-center items-center mr-2">
        <Weather client:load/>
      </div>  
      <!-- Move this to contact page and footer pls
      <a 
        href="https://github.com/zeforgezenica/smetoviba" 
        target="_blank" 
        class="flex items-center justify-center"
      >
        <span class="sr-only">Go to Astro's GitHub repo</span>
        <img 
          src="https://upload.wikimedia.org/wikipedia/commons/9/91/Octicons-mark-github.svg" 
          alt="GitHub" 
          style="max-width: 32px; max-height: 32px;"
        >
      </a> 
      -->
      <div class="block md:hidden" id="menu-button" style="cursor: pointer;">
        <i class="fa-solid fa-bars" style="font-size: 32px; position: relative; top:2px;"></i>
      </div>
    </div>
  </nav>
</header>

<div id="menu-container" class="hidden md:hidden">
  <BurgerMenu client:load />
</div>

<style>
  header {
      z-index: 1010;
  }
  nav a, .weather {
    padding: 0 0.3em;
  }
  .internal-links a {
    padding-bottom: 5px;
    color: var(--black);
    border-bottom: 4px solid transparent;
    text-decoration: none;
    font-size: 18px;
    border-inline: 4px solid transparent;
    transition:
      border-bottom-color 0.3s ease-in-out, 
      border-inline-color 0.3s ease-in-out;
		display: inline-block;
		text-decoration: none;
  }
  .internal-links a:hover {
    border-bottom: 4px solid var(--pumpkin-orange);
    border-inline: 4px solid transparent;
    transition:
      border-bottom-color 0.3s ease-in-out,
      border-inline-color 0.3s ease-in-out;
  }
  .internal-links a.active {
		font-weight: bolder;
		border-bottom: 4px solid var(--pumpkin-orange) !important;
		border-inline: 4px solid transparent !important;
	}
  #menu-button:hover {
    cursor: pointer;
    color: var(--pumpkin-orange);
  }
</style>
